/* SECTION ADD PERSON */
.main-content-add-person {
  width: 100%;
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 360px;
  padding-right: 50px;
}

.title {
  font-size: 3.6rem;
  font-weight: bold;
  color: #333;
  padding-top: 4.8rem;
}

.person-form {
  padding-top: 5.2rem;
  width: 100%;
}

/* FORM ADD PERSON */
.person-form label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

/* .person-form input {
  font-size: 1.6rem;
  font-weight: 500;
} */

.person-form .input-data {
  font-size: 1.6rem;
  font-weight: 500;
}

.person-form .i-text {
  font-size: 1.8rem;
}

.person-form .select-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}

.form-padding {
  margin: 1.8rem 3.2rem;
}

/* .i-text {
  font-size: 3.2rem;
}

textarea {
  font-size: 1.8rem;
} */

/* .select-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.select-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.212);
}

.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.212);
  background: radial-gradient(circle, #fff, #f8f9fa);
}

.select-text {
  font-size: 1.8rem;
}

.btn-padding {
  margin-right: 3rem;
  padding-bottom: 5rem;
} */

.has-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.212);
}
