/****************/
/* SECTION DASHBOARD */
/****************/
.section-dashboard {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-content {
  padding: 0 4.8rem;
  width: 100%;
}

/* DASHBOARD HEADER */
.dashboard-header {
  padding-top: 4.8rem;
}

/* DASHBOARD TITLE */
.dashboard-title {
  font-size: 4.8rem;
  font-weight: 600;
}

.dashboard-boxs {
  padding-top: 3.2rem;
}

.card-box {
  /* background-color: #edf2ff; */
  /* background-color: antiquewhite; */
  height: 28rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.card-text {
  font-size: 1.4rem;
  color: blue;
}
