/****************/
/* SECTION HOME */
/****************/

.section-home {
  background-color: seashell;
  height: 100vh;
}

.btn-add {
  background-color: #364fc7;
}

.person-link-box {
  display: flex;
}

.person-link {
  align-self: center;
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #364fc7;
}

.box-title {
  font-size: 3.2rem;
  font-weight: bold;
}

/* .person-header {
  display: flex;
  justify-content: space-between;
} */

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
  /* font: inherit; */
}

input,
label {
  margin: 0.4rem 0;
  width: 100vh;
  padding: 1rem;
}

/* DASHBOARD BOX */
.dashboard-box {
  /* padding-left: 3.2rem; */
  padding: 0 4rem;
}

.persons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding-top: 10rem;
  /* padding: 10rem 3.2rem 0 0; */
  /* padding: 5rem 3rem 0rem 3rem; */
}

/* STYLE DASHBOARD TEST */
.home-box {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main-nav-test {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.705);
  height: 100vh;
  padding: 5rem 3rem 0rem 3rem;
  list-style: none;
}
