/* CTA SECTION */
.section-cta {
  /* padding: 4.8rem 0 9.6rem 0; */
  padding: 9.6rem 0;

  background-color: #fff;
  background: linear-gradient(#fff 0%, rgba(63, 94, 251, 1) 120%);

  /* background: radial-gradient(circle, #fff 0%, rgba(63, 94, 251, 1) 150%); */
  /* background: radial-gradient(circle, #fff 0%, rgba(148, 187, 233, 1) 100%); */
  height: 100vh;
}

.cta {
  box-shadow: 0 2.4rem 1.8rem rgba(0, 0, 0, 0.267);
  /* background-color: #edf2ff; */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  overflow: hidden;
  padding-bottom: 2.4rem;
  /* background-image: linear-gradient(to right bottom, white, #4c6ef5); */
  /* background: linear-gradient(to right, #fff, #5c6cff); */
  /* background: linear-gradient(to right, #bac8ff, #748ffc); */
  /* background: linear-gradient(to right bottom, #748ffc, #fff); */
  /* background: linear-gradient(to right bottom, #5c6cff, #fff); */
}

.cta-text-box {
  /* padding: 2.4rem 4rem; */
  padding: 2.4rem 6rem 0rem 1rem;
}

.cta-heading {
  /* background-color: #748ffc; */
  /* background-color: #bac8ff; */
  /* background-color: #4263eb; */
  /* background-color: rgba(0, 0, 0, 0.45); */
  /* background-color: #868e96; */
  background-color: #3b5bdb;
  /* background-color: #edf2ff; */
  text-transform: uppercase;
  /* font-size: 1.8rem; */
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
}

.cta-box {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
  /* margin-bottom: 2rem; */
  /* margin: 0rem 2rem 2rem 2rem; */
}

.cta-icon {
  align-items: center;
  padding: 1rem;
  /* font-size: 10rem; */
  /* font-size: 15rem; */

  font-size: 22rem;
  /* color: #adb5bd; */
  /* color: #dee2e6; */
  color: #ced4da;
  align-self: center;
  justify-self: center;
  /* color: #e9ecef; */
}

.cta-form {
  margin-bottom: 2rem;
  display: grid;
  row-gap: 2.4rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  border: none;
  border-radius: 9px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.212);
  color: inherit;
  /* background-color: #edf2ff; */
  padding: 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #dee2e6;

  /* background: linear-gradient(to right, #fff, #f8f9fa); */
}

.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.btn--form {
  background-color: #364fc7;
  color: #fdf2e9;
  align-self: end;
  width: 100%;
}

.cta-text {
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.login-botton {
  padding-left: 2rem;
}

/* CTA LINK */
.link {
  /* padding: 2rem; */
  padding-top: 2rem;
  padding-left: 2rem;
  text-align: left;
  font-size: 1.6rem;
  justify-items: center;
}

.cta-link:link,
.cta-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  clear: both;
  box-shadow: none;
}

.cta-link:hover,
.cta-link:active {
  text-decoration: underline;
  color: #364fc7;
}

.form-icon {
  color: red;
  height: 2rem;
  width: 2rem;
}
