/*******************/
/* SECTION PERSONS */
/*******************/
/* .section-persons {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
} */

.btn-add {
  background-color: #364fc7;
}

/* .person-link {
  align-self: center;
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #364fc7;
} */

.box-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #333;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
  width: 100%;
  padding: 1rem;
}

/* MAIN-CONTENT */
.main-content-persons {
  padding: 0 4.8rem;
  width: 100%;
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 360px;
  padding-right: 50px;
  /* z-index: -1; */
}

.search-box {
  /* padding-top: 9.6rem; */
  padding-top: 4.8rem;
}

.persons-box {
  align-items: center;
  padding-top: 4.8rem;
}

/* STYLE DASHBOARD TEST */
/* .home-box {
  display: grid;
  grid-template-columns: 1fr 5fr;
} */

.main-nav-test {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.705);
  height: 100vh;
  padding: 5rem 3rem 0rem 3rem;
  list-style: none;
}

.form {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.212);
}

.form input,
.form button {
  /* padding: 0.5rem 1rem; */
  /* font-size: 1.6rem; */
}

.form button:link,
.form button:visited {
  background: #fff;
  transition: all 1s;
}

.form button:hover,
.form button:active {
  background-color: #3b5bdb;
}

/* TABLE */
.table button:hover,
.table button:active {
  background-color: #3b5bdb;
}

.table-button button {
  /* font-size: 1.6rem;
  padding: 0.5rem 2rem; */

  font-weight: 700;
}

.position-fixed-dashboard {
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroll {
  overflow-x: scroll;
}

/*********/
/* TABLE */
/*********/

/* .table > :not(caption) > * > * {
  background-color: none;
} */

.table {
  min-width: 600px;
  vertical-align: baseline;
  border: 0.01px solid #bdbcbc99;
  margin-top: 4.8rem;
}

thead {
  font-size: 1.4rem;
  background-color: #364fc7;
}

/* .table thead {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.table tbody {
  font-size: 1.6rem;
  font-weight: 500;
}

tbody {
  font-size: 1.8rem;
  line-height: 1.8;
}

th {
  background-color: none;
} */

.test-color {
  background-color: #5c7cfa;
  color: #fff;
  padding: 1.8rem;
}

/* .dropdown-text {
  font-size: 1.8rem;
  font-weight: bold;
} */

.search-person {
  width: 100%;
}

.dropdown-search {
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #364fc7;
  border: none;
}
