/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
} */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
} */

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  /* .cta-icon {
    font-size: 25rem;
  } */
  .main-content-persons {
    padding-left: 50px;
  }

  .main-content-dashboard {
    padding-left: 50px;
  }

  .main-content-add-person {
    padding-left: 50px;
  }

  .main-content-view-person {
    padding-left: 50px;
  }

  /* .card-text-box {
    display: none;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* .cta-icon {
    font-size: 20rem;
  } */
  /* .main-content {
    padding-left: 50px;
  }

  .main-content-persons {
    padding-left: 50px;
  } */
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  /* .cta-icon {
    display: none;
  }

  .cta-logo {
    display: none;
  }

  .cta-box {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 2rem;
  }

  .person-link {
    display: none;
  } */

  /* .sidebar {
    left: 0;
  } */
  /* .main-content {
    left: 0;
  } */
}
